.parent-flex {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.child-flex {
  margin: auto;
  width: 200px;
  height: auto;
}
.cards-title {
  color: #fafaf8;
}
img {
  width: 250px;
}
img:hover{
  opacity: .7;
  box-shadow: 2px 2px 1px #fafaf8;
}
