.parent-flex {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.child-flex {
  margin: auto;
  width: 250px;
  height: auto;
}

img {
  width: 250px;
  height: auto;
}

img:hover{
  opacity: .7;
  box-shadow: 4px 4px 2px #000000;
}
